body {
    /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }

/*** On basis of Bolt theme ***/

/*:root {
--font-interface-theme:  'General Sans', Roboto, OpenSans, Inter, 'Noto Sans JP', 'UD Digi Kyokasho NK-R';
--h2-size: 3.3em;
}*/

.sidebar-container .toc-container {
  max-height: inherit;
}

h2, .markdown-rendered h2 {
  color: red !important;
  margin-top: 2rem;
  font-size: 3.3em;}
}
